src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="privateFlow" doc:id="bb01a71c-67fb-4670-9005-8e74f12d22c8" >
		<http:request method="OPTIONS" doc:name="GET /goodbye" doc:id="55a643e2-ebad-422a-8bc8-33c8efe37174" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subFlow" doc:id="394cd9dc-9831-4f9e-9bf6-768231d503a5" >
		<set-payload value="Hello" doc:name="Hello" doc:id="92bdc938-e494-4b65-b4e5-3d62cc9946aa" />
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="2afbd3bb-64d9-4fee-8c3e-9aea18e3c375" variableName="firstName" />
	</sub-flow>
	<flow name="helloFlow" doc:id="3745abc4-dcc6-447e-8f7a-871b856cdc03" >
		<http:listener doc:name="GET /hello" doc:id="1de4fc15-c477-495b-9a03-75e924c50929" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Sub Flow" doc:id="6365c647-5eb3-4ed2-bd86-f52a5fbdbd76" name="subFlow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="58675dd4-8f19-400c-a625-927e5e1d565d" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="fullName" doc:id="69e2dd35-7190-49a7-8d58-37f7abba80fe" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="goodbyeFlow" doc:id="738b799c-e659-4cbd-8e0f-1a388422dc42" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="c348f13f-a6a0-41f7-a0b1-960fb1fd1a25" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ attributes.queryParams.fullName as String]" doc:name="Goodbye" doc:id="61f606d3-e7f0-4311-9756-e17b53569cef" />
		<logger level="INFO" doc:name="fullName" doc:id="371a4d08-7898-4d4a-b8c8-22fff8c5fc27" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
